extends layout

block header
  style
    html, body {
      height: 100%;
    }

    body {
      margin: 0;
      padding: 0;
    }

    .clear {
      float: none;
      clear: both;
    }

    #requests {
      overflow-x: hidden;
      overflow-y: scroll;
      word-wrap: break-word;
      border-width: 0px;
      height: 80%;
      width: 50%;
      float: left;
    }

    #log {
      overflow-x: hidden;
      overflow-y: scroll;
      word-wrap: break-word;
      border-width: 0px;
      height: 80%;
      width: 50%;
      float: left;
    }
  script(src='/socket.io/socket.io.js')
  script
    $(function() {
      var socket = io.connect('/')

      socket.on('init', function(data) {
        var $delay = $('#delay')

        $delay.val(data.delay)
        $delay.removeAttr('disabled')

        $delay.on('change', function(event) {
          socket.emit('set global delay', {
            delay : parseInt($(this).val(), 10)
          })
        });
      })

      socket.on('client_start', function(data) {
        var $div = $('<div>');
        $div.attr('id', 'session' + data.sessionId)

        var $url = $('<div>');
        $div.attr('class', 'url')
        $url.text(data.url);
        $div.append($url);

        $('#log').prepend($($div.html()));

        var $ok = $('<input type="button">');
        $ok.attr('class', 'error')
        $ok.val('ok')
        $ok.on('click', function(event) {
          $div.find('input').attr('disabled', 'true')
          socket.emit('ok', {
            sessionId : data.sessionId
          })
        });
        $div.append($ok);

        var $error = $('<input type="button">');
        $error.attr('class', 'error')
        $error.val('error')
        $error.on('click', function(event) {
          $div.find('input').attr('disabled', 'true')
          socket.emit('403', {
            sessionId : data.sessionId
          })
        });
        $div.append($error);

        $('#requests').prepend($div)
      })

      socket.on('remove', function(data) {
        $('#session' + data.sessionId).remove();
      })
    });

block content
  form
    select#delay(size=1, disabled)
      option(value=0) 0ms
      option(value=500) 500ms
      option(value=1000) 1000ms
      option(value=5000) 5000ms
  div.clear
  div#requests
  div#log

